@import '../../../assets/variables.scss';

.filters-component {
  width: 100%;
  margin-top: 52px;
  max-width: 320px;
}

.filters__title {
  font-size: 24px;
  margin-bottom: 48px;
}

.text-input {
  position: relative;
  margin-bottom: 30px;

  label {
    position: absolute;
    top: 9px;
    left: 4px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    transition-duration: .3s;
  }

  input {
    width: 100%;
    height: 28px;
    padding-bottom: 7px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid $act_collor;
    }

  }

  &:focus {
    label {
      top: -14px;
      transition-duration: .3s;
      font-size: 14px;
    }
  }
}

.filled-input {
  label {
    top: -14px;
    transition-duration: .3s;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.check-languages-input {
  margin-bottom: 0px;
}

.checkbox-group {

  ul {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 15px 0 5px 15px;
    max-height: 190px;

    li {
      margin-bottom: 20px;

      label {
        font-size: 16px;
      }
    }
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $border_color-2;
  border-radius: 0.25em;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: $border_color-3;
  background-color: $border_color-3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.radio-group {
  margin-top: 24px;

  h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
  }

  li {
    margin-bottom: 15px;

    input {
      margin-right: 19px;
    }
  }

}