$background_color_container: #E5E5E5;
$background_color_filter: #FFFFFF;

$text_color: #000000;
$ref_color: #2962FF;

$act_collor: #347CFF;

$border_color: #A5A5A5;
$border_color-2: #adb5bd;
$border_color-3: #0b76ef;

$hover_color: #1747cd;
$arrow_color: #3C474C;