@import '../../../assets/variables.scss';

.list-item {
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-bottom: 1px solid $border_color
}

.list-item__title {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;

  p {
    margin-right: 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.list-item__types {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.item__type {
  display: flex;
  align-items: center;
  width: 230px;

  p {
    margin-right: 70px;
  }

  span {
    color: $ref_color;
    text-decoration: none;
  }
}